.nav-options-container{
  margin-top: 10px;
}

.nav-options-element{
  font-size: 12px;
  padding: 10px;
  text-decoration: none;
  color: rgb(34, 34, 173);
}

.nav-options-element:hover{
  opacity: 0.8;
}